.App {
  text-align: center;
  background-color: #faf9f5;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #eee;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.box{
  min-height: 80vh;
  position: relative;
  margin-top: .5em;
}
.box:nth-of-type(odd) .date>div{
  float: right;
}
.box:nth-of-type(even) .head{
  left: 90% !important;
}

.head{
  position: absolute;
  top: 50%;
  left:3%;
  transform: translate(-50%,-50%) rotate(-90deg);
  font-size: 3.5em;
  font-weight: bolder;
  color: #e0e0e0;
  white-space: nowrap;
}
.ball{
  position: absolute;
  top: 16em;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 19rem;
  width: 19rem;
  border-radius: 50%;
  background-color: #313130;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1em;
  color: #fff;
}
.ball>.char{
  position: relative;
  font-size: 8em;
  font-weight: bold;
  color: #fff;
  padding: 0;
}

.ball::after{
  content: "";
  position: absolute;
  top: 130%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 9rem;
  width: 9rem;
  background-color: #f0efeb;
  border-radius: 50%;
  border: .5em solid #f3f2f1;
}
.ball::before{
  content: "";
  position: absolute;
  top: 195%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 70%;
  width: .25em;
  border-radius: .9em;
  background-color: #f3f2f1;

}
@media (max-width: 767px) {
  .ball::after {
    display: none;
  }
  .ball::before {
    display: none;
  }
  .msg::after{
    display: none;
  }
  .msg p{
    transform: translateX(0);
  }
}
.ball>.ballhead{
  font-weight: bold;
  font-size: 1.2em;
  padding: .5em;
}
.ball>.para{
  padding: .7em;
  word-wrap: break-word;
}
.padding{
  height: 25rem;
}
.date{
  font-size: 4em;
  font-weight: bolder;
  color: #e0e0e0;
}
@media (max-width: 767px) {
  .date{
    font-size: 2em;
  }
  .head{  
    font-size: 2em;
  }
}

.subdate{
  font-weight: bold;
  font-size: 1.5em;
  border-bottom: 2px solid #333;
  padding: .2em;
}
.checkpoint{
  padding-top: 2em;
}
.checkpoint:nth-of-type(odd){
  text-align: end;
}
.checkpoint:nth-of-type(even){
  text-align: start !important;
  
}
.checkpoint:nth-of-type(even)>div{
  float: right !important;
}
.msg{
  position: relative;
  margin-top: 15em !important;
  margin-bottom: 5em !important;
  padding: 2.5em !important;
  background-color: #f0efeb;
  border: .5em solid #f3f2f1;
  border-radius: 3em 3em 3em 0;
}
.msg::after{
  content: "";
  position: absolute;
  top: 100%;
  left: -2.5%;
  transform: translate(-50%,-50%);
  height: 170%;
  width: .25em;
  border-radius: .9em;
  background-color: #f3f2f1;
}
.msg p{
  transform: translateX(150%);
  color: #bfbfbf;
  font-weight: bold;
}
@media (max-width: 767px) {
  .msg::after{
    display: none;
  }
  .msg p{
    transform: translateX(0%);
  }
  .msg{
    margin-top: 5em !important;
    margin-bottom: 5em !important;
  }
}
.cont{
  color: #e0e0e0;
  font-size: 3em;
  font-weight: bold;
}